header img {
  animation: fromLeft .6s .2s backwards;
}

.menu .bg-btn:nth-child(1),
.buttons .border-btn,
.game-container .attemps {
  animation: fromLeft .7s .3s backwards;
}

.word-container textarea {
  animation: fromLeft .7s .4s backwards;
}

.word-container .info {
  animation: fromLeft .7s .5s backwards;
}

.menu .bg-btn:nth-child(2),
.buttons .bg-btn,
.game-container .word {
  animation: fromRight .8s .3s backwards;
}

.game-container .keyboard {
  animation: fromTop .6s .1s backwards;
}


@keyframes fromTop {
  from {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromLeft {
  from {
    opacity: 0;
    transform: translateX(-40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fromRight {
  from {
    opacity: 0;
    transform: translateX(40px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}