/*FONTES*/
@import url('https://fonts.googleapis.com/css2?family=Redressed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;1,300;1,400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #D9D9D9;
}

header {
    background-color: #252526;
    color: white;
    padding: 7px 0;
}

h1 {
    text-align: center;
    font-size: 40px;
    font-family: 'Redressed', cursive;
}

main {
    background-color: #a0ca46b0;
    margin: 0 25px;
}

#regras {
    display: inline-block;
    margin: 8px 75px;
    font-style: italic;
    font-family: 'Redressed', cursive;
    font-size: 20px;
}

#regras li {
    list-style: upper-roman;
    margin: 8px 0;
    font-size: 20px;
    font-style: normal;
}

#regras ol {
    margin: 0 50px;
}

#menu {
    text-align: center;
    font-family: 'Redressed', cursive;
    font-size: 30px;
}

#menu label {
    display: block;
    font-size: 20px;
    margin: 8px 0;
}

#menu #nova-palavra {
    display: block;
    width: 280px;
    margin: 10px auto;
    padding: 10px 0;
    text-align: center;
    border-radius: 4px;
    border: none;
}

#menu #btn-adc-palavra {
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 8px;
    padding: 10px 0;
    text-align: center;
    background-color: #836a3b;
    border: none;
    border-radius: 2px;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    color: white;
    cursor: pointer;
}

#menu #btn-adc-palavra:hover {
    background-color: #66522c;
}

#jogo {
    text-align: center;
    font-size: 30px;
    font-family: 'Redressed', cursive;
    margin: 80px 0 0 0;
}

#jogo .btn {
    margin: 15px 0;
    padding: 8px 40px;
    font-size: 17px;
    font-weight: bold;
    font-family: 'Nunito', sans-serif;
    border: none;
    border-radius: 2px;
    background-color: #85A63F;
    color: white;
    cursor: pointer;
}

#jogo .btn:hover {
    background-color: #44502b9d;
}

#tabuleiro-forca {
    text-align: center;
}

.letras button {
    padding: 8px;
    width: 35px;
    border: none;
    border-radius: 5px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    background-color: #D9D9D9;
    cursor: pointer;
}

.letras button:active {
    transform: scale(1.2);
}

.letras-incorretas {
    display: inline-block;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    font-style: italic;
    font-weight: bold;
    color: #ff0000b0;
    margin: 0 3px;
}

#palavra-secreta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 27px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    text-align: center;
}

.campo-letras {
    width: 30px;
    text-align: center;
    border-bottom: 3px solid;
    color: #252526;
    margin: 0 2px;
}

#msg {
    margin: 20px 2px;
    text-align: center;
    font-size: 22px;
    font-family: 'Nunito', sans-serif;
    font-weight: lighter;
    font-style: italic;
}

span {
    display: block;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
    font-family: 'Arial', sans-serif;
}

footer {
    background-color: #252526;
    color: #D9D9D9;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    font-size: 17px;
    text-align: center;
}



