/* Default Classes on Pages */
.btn {
  display: block;
  padding: 17px 0;
  border-radius: 2px;
  text-transform: uppercase;
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
  color: white;
  text-align: center;
}

.bg-btn {
  background-color: white;
  padding-bottom: 6px;
  border-radius: 2px;
  background: linear-gradient(45deg, rgba(59, 174, 227, 0.486) 0%, rgba(87, 111, 230, 0.459) 25%, rgba(152, 68, 183, 0.479) 51%, rgba(255, 53, 127, 0.637) 100%);
  transition: transform .2s;
}

.bg-btn:hover {
  transform: translateY(2px);
  padding-bottom: 4px;
}

.bg-btn:active {
  transform: translateY(3px);
  padding-bottom: 0;
}

.btn-orig {
  padding: 16px 0;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  background-color: #161616;
  color: white;
  font-size: 16px;
  transition: background 500ms;
  cursor: pointer;
}

.btn-orig:hover {
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
}

.border-btn {
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
  padding: 1px;
  border-radius: 2px;
}

.alert {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: 40px auto;
  background-color: rgb(255, 133, 177);
  max-width: 450px;
  padding: 13px 30px;
  align-items: center;
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 4px 0px rgba(255, 133, 178, 0.466);
  color: #000000;
}

.buttons {
  display: flex;
  gap: 10px;
  max-width: 600px;
  margin: 0 auto;
}

.buttons .border-btn,
.buttons .btn-orig,
.buttons .bg-btn {
  width: 100%;
}

.buttons .bg-btn {
  padding: 0;
  transition: transform 200ms;
}

.buttons .bg-btn:hover {
  transform: translateY(-5px);
  padding: 0;
}

.buttons .bg-btn:active {
  transform: translateY(5px);
  padding: 0;
}

/* ||INDEX */
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.menu .btn {
  padding-left: 40px;
  padding-right: 40px;
}

/* ||GAME */
.game-container .screen {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.game-container .attemps {
  display: flex;
  align-items: flex-start;
  gap: 2px;
}

.game-container .heart {
  color: rgb(255, 102, 102);
}

.game-container .word {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.game-container .letter {
  font-size: 22px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  width: 40px;
  text-align: center;
  border: 2px solid rgb(255, 133, 177);
  border-bottom: 4px solid rgb(255, 133, 177);
}

.game-container .keyboard {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 20px auto;
  gap: 10px;
}

.game-container .keyboard .btn-orig {
  width: 50px;
  padding: 5px 0;
  font-weight: 600;
}

.game-container .keyboard .border-btn {
  padding: 7px 1px;
}

.game-container .keyboard .letter-btn:disabled {
  background-color: rgba(82, 82, 82, 0.74);
  color: rgb(212, 212, 212);
  pointer-events: none;
}

/* ||ADD-WORD */
.word-container .field {
  max-width: 600px;
  margin: 0 auto;
}

.word-container textarea {
  width: 100%;
  padding: 10px;
  font-size: 24px;
  color: rgb(255, 133, 177);
  background-color: #161616;
  resize: none;
  border: none;
  font-weight: 300;
}

.word-container textarea::placeholder {
  color: rgb(255, 133, 177);
}

.word-container .info {
  color: rgb(255, 133, 177);
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 5px;
}