/* Default Classes on Pages */
.btn {
  padding: 16px 40px;
  border-radius: 2px;
  overflow: hidden;
  text-transform: uppercase;
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
  color: white;
}

.bg-btn {
  background-color: white;
  padding-bottom: 20px;
  border-radius: 2px;
  background: linear-gradient(45deg, rgba(59, 174, 227, 0.486) 0%, rgba(87, 111, 230, 0.459) 25%, rgba(152, 68, 183, 0.479) 51%, rgba(255, 53, 127, 0.637) 100%);
  transition: transform .2s;
}

.bg-btn:hover {
  transform: translateY(2px);
  padding-bottom: 18px;
}

.bg-btn:active {
  transform: translateY(3px);
  padding-bottom: 14px;
}

.btn-orig {
  padding: 13px 0;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  background-color: #161616;
  color: white;
  font-size: 16px;
  transition: background 500ms;
  cursor: pointer;
}

.btn-orig:hover {
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
}

.border-btn {
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
  padding: 1px;
  border-radius: 2px;
}

/* ||INDEX */
.menu {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 29px;
}

/* ||GAME */
.content-game {
  height: 600px;
}

.game-container * {
  background-color: #161616;
}

.game-container {
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game-container .word {
  display: flex;
  justify-content: center;
  gap: 3px;
}

.game-container .letter {
  font-size: 22px;
  color: white;
  font-weight: 600;
  border-radius: 3px;
  width: 35px;
  text-align: center;
  border: 2px solid #f87caa;
  border-bottom: 4px solid #f87caa;
}

.keyboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
  width: 700px;
  gap: 10px;
}

.keyboard .letter-btn {
  width: 50px;
  font-size: 16px;
  font-weight: 600;
}

.keyboard .btn-orig {
  padding: 4px 0;
}

.keyboard .letter-btn:disabled {
  background-color: rgba(82, 82, 82, 0.74);
  color: rgb(212, 212, 212);
  pointer-events: none;
}

.buttons {
  display: flex;
  gap: 10px;
  width: 500px;
  margin: 0 auto;
}

.buttons .border-btn,
.buttons .btn-orig,
.buttons .bg-btn {
  width: 100%;
}

.buttons .btn {
  display: block;
  text-align: center;
}

.buttons .btn-orig {
  padding-top: 16px;
}

.buttons .bg-btn {
  padding: 0;
  transition: transform 200ms;
}

.buttons .bg-btn:hover {
  transform: translateY(-5px);
  padding: 0;
}

.buttons .bg-btn:active {
  transform: translateY(5px);
  padding: 0;
}

span.game-situation {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #b485f1d8;
  width: 450px;
  padding: 13px 30px;
  align-items: center;
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 4px 0px #934dee;
  color: white;
}

/* ||ADD-WORD */
.text-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.text-container textarea {
  padding: 5px;
  height: 200px;
  font-size: 24px;
  color: #ff84b1dc;
  background-color: #161616;
  resize: none;
  border: none;
  font-weight: 300;
}

.text-container textarea::placeholder {
  color: #ff84b1dc;
}

.text-container .info {
  color: #ff84b1dc;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.text-container div {
  width: 500px;
  margin: 25px auto 0 auto;
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-container .border-btn,
.text-container .btn-orig,
.text-container .bg-btn {
  width: 100%;
}

.text-container .btn-orig {
  padding: 15px;
}

.text-container .btn {
  display: block;
  text-align: center;
}

.text-container .bg-btn {
  padding: 0;
  transition: transform 200ms;
}

.text-container .bg-btn:hover {
  transform: translateY(-5px);
  padding: 0;
}

.text-container .bg-btn:active {
  transform: translateY(5px);
  padding: 0;
}

span.info-page {
  position: fixed;
  top: 30px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-color: #85d2f1d8;
  width: 450px;
  padding: 13px 30px;
  align-items: center;
  display: none;
  text-align: center;
  flex-direction: column;
  align-items: center;
  border-radius: 3px;
  box-shadow: 0px 4px 0px #4e96c0;
  color: #000000;
}