@import url(../styles/buttons.css);

.text-container {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: 0 auto;
}

.text-container textarea {
  padding: 5px;
  height: 200px;
  font-size: 24px;
  color: #ff84b1dc;
  background-color: #161616;
  resize: none;
  border: none;
  font-weight: 300;
}

.text-container textarea::placeholder {
  color: #ff84b1dc;
}

.text-container .info {
  color: #ff84b1dc;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

.text-container div {
  margin-top: 25px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.text-container .brd-btn,
.text-container .brd-btn button {
  width: 100%;
}

.text-container .brd-btn {
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
  padding: 1px;
  border-radius: 2px;
}

.text-container button {
  padding: 13px 0;
  text-transform: uppercase;
  border-radius: 2px;
  border: none;
  background-color: #161616;
  color: white;
  font-size: 16px;

  transition: background 500ms;
}

.text-container button:hover {
  background: linear-gradient(45deg, rgba(59, 173, 227, 1) 0%, rgba(87, 111, 230, 1) 25%, rgba(152, 68, 183, 1) 51%, rgba(255, 53, 127, 1) 100%);
}

/* Overriding Css Button */

.text-container .bg-btn {
  padding: 0;
  transition: transform 200ms;
}

.text-container .bg-btn:hover {
  transform: translateY(-5px);
  padding: 0;
}

.text-container .bg-btn:active {
  transform: translateY(5px);
  padding: 0;
}